<MatThemeProvider Theme="@graphene" >
    <CascadingAuthenticationState>
        <CascadingBlazoredModal>
            <Router AppAssembly="@typeof(Program).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            @if (!context.User.Identity.IsAuthenticated)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <div class="grph-authorize">
                                    <p>You are not authorized to access this resource.</p>
                                </div>
                            }
                        </NotAuthorized>
                        <Authorizing>
                            <DentistryManagement.Client.Components.Waiting Name="Authorizing..." />
                        </Authorizing>
                    </AuthorizeRouteView>
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingBlazoredModal>
    </CascadingAuthenticationState>
</MatThemeProvider>
@code
{
    MatTheme graphene = new MatTheme()
    {
        Primary = "#193C6B",
        Secondary = "#193C6B"
    };
}