@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Logging
@using DentistryManagement.Shared.ViewModels.Users;
@using DentistryManagement.Client.Components
@using DentistryManagement.Client.Helpers
@using System.Net

@inject HttpClient Http
@inject ILogger<Profile> Logger

<div class="grph-paper">
    <EditForm Model="@PasswordUserViewModel">
        <DataAnnotationsValidator />
        <CustomValidator @ref="customValidator" />
        <FormPanel Title="Password"
                   ChangeEditMode="ChangeEditMode"
                   EditMode="@EditMode"
                   Cancel="Cancel"
                   Save="Save"
                   Message="@message"
                   MessageStyle="@messageStyles">
            <li>
                <div class="col-4">
                    <span>Current password:</span>
                </div>
                <div class="col-8">
                    <InputText disabled="@(!EditMode)"
                               class="@InputStyle"
                               @bind-Value="PasswordUserViewModel.CurrentPassword" />
                    <ValidationMessage For="@(() => PasswordUserViewModel.CurrentPassword)" />
                </div>
            </li>
            <li>
                <div class="col-4">
                    <span>New password:</span>
                </div>
                <div class="col-8">
                    <InputText disabled="@(!EditMode)"
                               class="@InputStyle"
                               @bind-Value="@PasswordUserViewModel.NewPassword" />
                    <ValidationMessage For="@(() => PasswordUserViewModel.NewPassword)" />
                </div>
            </li>
        </FormPanel>
    </EditForm>
</div>

@code {
    [Parameter]
    public string Email { get; set; }

    private PasswordUserViewModel PasswordUserViewModel = new PasswordUserViewModel();

    private CustomValidator customValidator;

    private bool EditMode = false;

    private string message;

    private string messageStyles = "display:none";

    private string InputStyle
    {
        get
        {
            return "form-control " + (!EditMode ? "grph-content-input-disabled" : "grph-content-input");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PasswordUserViewModel = await Http.GetFromJsonAsync<PasswordUserViewModel>("api/User/email/" + Email);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception exception)
        {
            Logger.LogError("Form processing error: {Message}", exception.Message);
            messageStyles = "display:block";
            message = "There was an error getting the data.";
        }
    }

    private async Task Save()
    {
        customValidator.ClearErrors();

        try
        {
            var response = await Http.PutAsJsonAsync("api/User/password/" + PasswordUserViewModel.Id, PasswordUserViewModel);

            if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                var errors = await response.Content
                    .ReadFromJsonAsync<Dictionary<string, List<string>>>();

                if (errors.Count > 0)
                {
                    customValidator.DisplayErrors(errors);
                }
            }
            else
            {
                EditMode = false;
                await OnInitializedAsync();
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception exception)
        {
            Logger.LogError("Form processing error: {Message}", exception.Message);
            messageStyles = "display:block";
            message = "There was an error processing the form.";
        }
    }

    private async Task Cancel()
    {
        EditMode = false;
        customValidator.ClearErrors();
        await OnInitializedAsync();
    }

    private void ChangeEditMode(bool mode)
    {
        EditMode = mode;
    }
}