@using DentistryManagement.Shared.ViewModels.Affiliates;
@using DentistryManagement.Client.Pages.Affiliates
@using DentistryManagement.Client.Helpers
@using System.Net
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging

@inject ILogger<Affiliates> Logger
@inject HttpClient Http

<div class="grph-modal-form">
    <EditForm Model="@affiliateViewModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <CustomValidator @ref="customValidator" />

        <p class="validation-message" style="@messageStyles">
            @message
        </p>

        <div class="row">
            <div class="col">
                <MatTextField @bind-Value="affiliateViewModel.Name" Label="Name" Outlined="true"></MatTextField>
                <ValidationMessage For="@(() => affiliateViewModel.Name)" />
            </div>
        </div>

        <br />

        <div class="input-group grph-button-actions">
            <button class="btn btn-primary grph-cancel" @onclick="BlazoredModal.CancelAsync">Cancel</button>
            <button class="btn btn-primary grph-primary" disabled="@disabled">Create Affiliate</button>
        </div>

    </EditForm>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private bool disabled;

    private string message;

    private string messageStyles = "display:none";

    private CreateAffiliateViewModel affiliateViewModel = new CreateAffiliateViewModel();

    private CustomValidator customValidator;

    private async Task HandleValidSubmit()
    {
        customValidator.ClearErrors();
        disabled = true;
        try
        {
            var response = await Http.PostAsJsonAsync("api/affiliate", affiliateViewModel);

            if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                var errors = await response.Content
                    .ReadFromJsonAsync<Dictionary<string, List<string>>>();

                if (errors.Count > 0)
                {
                    customValidator.DisplayErrors(errors);
                    disabled = false;
                }
            }
            else
            {
                await BlazoredModal.CloseAsync(ModalResult.Ok(response));
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception exception)
        {
            Logger.LogError("Form processing error: {Message}", exception.Message);
            messageStyles = "display:block";
            message = "There was an error processing the form.";
        }
    }
}
